<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Data Vault{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <nav class="container">
      <ul>
        <li><strong>Data Vault Assessment</strong></li>
      </ul>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
      </ul>
    </nav>
    <main class="container">
      <div>Hello World</div>
    </main>
  </body>
</html>
